<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RRQMCore" publicKeyToken="1691c0176f5d64c0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.18.0" newVersion="1.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>